html {
  background-color: #121212;
}

.type-1 {
  font-family: "IM Fell English", serif;
  color: #333;
}

.type-2 {
  font-family: "Archivo Black", sans-serif;
  color: #333;
}

.monster {
  position: relative;
  width: 100%;
}

.monster p {
  color: #686d75;
}

.eyes {
  width: 100%;
  position: absolute;
  top: 2rem;
}

.eyes p {
  color: #686d75;
  animation: fade 4s ease-in;
}

.pupil {
  width: 100%;
  position: absolute;
  top: -3rem;
  left: 1rem;
}

.pupil p {
  color: #686d75;
  animation: fade 4s ease-in;
}

.abyss {
  width: 100%;
}

.abyss p {
  color: #000;
}

.nietzsche {
  width: 100%;
}

.nietzsche p {
  color: #686d75;
  opacity: .6;
  animation: fade 15s ease-in;
}

@keyframes fade {

  0% {
    color: #121212;
  }

  100% {
    color: #686d75;
  }

}
