html {
  background-color: #121212;
}

.type-1 {
  font-family: "IM Fell English", serif;
  color: #333;
  margin: 0 auto;
}

.type-2 {
  font-family: "Archivo Black", sans-serif;
  color: #333;
  margin: 0 auto;
}

.monster {
  position: relative;
  width:100%;
}

.monster p {
  color: #686d75;
}

.eyes {
  width: 100%;
  position: absolute;
  top: 2rem;
}

.eyes p{
  color: #686d75;
}

.pupil {
  width: 100%;
  position: absolute;
  top: -3rem;
  left: 1rem;
}

.pupil p{
  color: #686d75;
}
.abyss {
  width: 100%;
}

.abyss p {
  color: #000;
}

.nietzsche-1 {
  width: 100%;
  position:relative;
  z-index: 1000;
}

.nietzsche-1 p {
  color: #686d75;
  opacity: .6;
}

.nietzsche-2 {
  width: 100%;
  position:absolute;
  right: .75rem;
  bottom: .1rem;
}

.nietzsche-2 p {
  color: #222;
}

@media only screen and (min-width: 38em) {
