html {
  background-color: #131313;
}

.type-1 {
  font-family: "IM Fell English", serif;
  color: #333;
}

.type-2 {
  font-family: "Archivo Black", sans-serif;
  color: #333;
}

.monster {
  position: relative;
  width: 100%;
}

.monster p {
  color: #686d75;
  animation: fade .5s ease-in;
}

.monsters-1 {
  position: relative;
}

.monsters-2 {
  position: absolute;
  width: 100%;
  top: 4.5rem;
  left: -3rem;
  color: rgba(98, 98, 188, .5);
  animation: fade 5s ease-in;
}

.monsters-3 {
  position: absolute;
  width: 100%;
  top: 5.5rem;
  left: 0;
  color: rgba(85, 170, 204, .5);
  animation: fade 5s ease-in;
}

.monsters-4 {
  position: absolute;
  width: 100%;
  top: 4.5rem;
  left: 3rem;
  color: rgba(30, 150, 108, .5);
  animation: fade 5s ease-in;
}

.eyes {
  width: 100%;
  position: absolute;
  top: 2rem;
  z-index: 1000;
}

.eyes p {
  color: #686d75;
  animation: fade 5s ease-in;
}

.pupil {
  width: 100%;
  position: absolute;
  top: -3rem;
  left: 1rem;
  z-index: 1000;
}

.pupil p {
  color: #686d75;
  animation: fade 5s ease-in;
  position: relative;
}

.abyss {
  width: 100%;
}

.abyss p {
  color: #000;
  animation: fade 5s ease-in;
}

.abysss {
  color: #000;
  animation: fade 1s ease-in;
}

.nietzsche {
  width: 100%;
}

.nietzsche p {
  color: #686d75;
  opacity: .6;
  animation: fade 20s ease-in;
}

@keyframes fade {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}
